body {
	font-family: sans-serif;
	background-color: #F2F2F2;
	display: flex;
	justify-content: center;
	align-items: center;
}

#root{
	max-width: 900px;
	font-family: sans-serif;
	background-color: #F2F2F2;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 768px) {
	#root{
		flex-direction: column;
	}
}